.img-center > img {
    padding-bottom: 17.5px;
}

.mission-text {
    text-align: center;
}

.learn-more:hover{
  background: rgba(36,38,74);
}

.home-info{
  border-radius: 1.25rem !important;
}

.about-tabs{
  padding-top: 6rem;
}

.scrollDownBtn{
  font-size: 2rem;
}
