.img-center > img {
    padding-bottom: 17.5px;
}

.mission-text {
    text-align: center;
}

.learn-more:hover{
  background: #0081fe;
}

.home-info{
  border-radius: 1.25rem !important;
}

.tabs{
  padding-top: 2rem;
}

.scrollDownBtn{
  font-size: 2.5rem;
}

.scrollDownBtn:hover{
  color: #007bff;
}

.contact-icon{
  color: rgb(36,38,74);
}

.nav-link.p-4{
  border: none;

}

.nav-link.p-4:hover{
  border: none;
}
